.grid {
    display: grid;
    grid-template-columns: 40% 60%;
}

.intro {
    margin: auto;
    width: 80%;
    vertical-align: middle;
}

.intro h1 {
    padding-left: 1rem;
    border: 3px solid green;
}
