#landing {
  margin-top: 10vh;
  margin-bottom: 1em;
  background: rgb(244, 8, 0);
  background: -moz-linear-gradient(127deg, rgba(244, 8, 0, 1) 0%, rgba(241, 96, 48, 1) 48%, rgba(240, 62, 185, 1) 100%);
  background: -webkit-linear-gradient(127deg, rgba(244, 8, 0, 1) 0%, rgba(241, 96, 48, 1) 48%, rgba(240, 62, 185, 1) 100%);
  background: linear-gradient(127deg, rgba(244, 8, 0, 1) 0%, rgba(241, 96, 48, 1) 48%, rgba(240, 62, 185, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f40800", endColorstr="#f03eb9", GradientType=1);
}

.grid-container {
    grid-template-columns: 2fr 2fr;
    align-items: center;
    justify-content: center;
    margin: auto;
    grid-gap: 1.5rem;
    width: 100%;
  }

  #left-container {
      height: 80vh;
  }

  #left-container img {
      height: 75vh;
  }

  #right-container {
    opacity: 0.95;
  }

  p {
      font-size: 1.5em;
  }

  @media screen and (max-width: 600px) {

    h1 {
      font-size: 9.2vw;
      word-wrap: break-word;
    }

    #left-container {
        height: auto;
    }
  
    #left-container img {
        height: auto;
    }

  .topnav a:not(:first-child) {
    display: none;
  }

  .topnav a:first-child:hover {
    background-color: #4CAF50;
    color: white;
  }

  .topnav a.icon {
    float: right;
    display: block;
  }

  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .active {
    background-color: rgba(0, 0, 0, 0);
  }

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  .topnav {
    background-color: #4CAF50;
  }

  .topnav.responsive {
    background-color: rgba(0, 0, 0, 0.13);
    position: relative;
    float: none;
    display: block;
    width: 100%;
    text-align: left;
  }

  .topnav.responsive a:first-child {
    background-color: #4CAF50;
  }

  /* GRID CONTAINERS */

  #landing {
    margin-top: 10vh;
    margin-bottom: 0;
  }

  .grid-container {
    grid-template-columns: auto;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    grid-gap: 1.5rem;
    width: 100%;
  }

  .container {
    width: 75%;
    overflow: hidden;
  }
}