.hero-image {
    background-image: url(../img/landing.jpg);
    height: 100vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#landing-header {
    font-size: 2rem;
    letter-spacing: 1rem;
    text-transform: uppercase;
    border: 5px solid #4caf50;
    background: rgb(212, 40, 34);
    background: -moz-linear-gradient(127deg, rgba(212, 40, 34, 1) 0%, rgba(241, 96, 48, 1) 48%, rgba(240, 62, 185, 1) 100%);
    background: -webkit-linear-gradient(127deg, rgba(212, 40, 34, 1) 0%, rgba(241, 96, 48, 1) 48%, rgba(240, 62, 185, 1) 100%);
    background: linear-gradient(127deg, rgba(212, 40, 34, 1) 0%, rgba(241, 96, 48, 1) 48%, rgba(240, 62, 185, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d42822", endColorstr="#f03eb9", GradientType=1);
    color: white;
}