/*! HTML5 Boilerplate v7.3.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
/*IBM PLEX SANS FONT*/
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital@0;1&display=swap');

/* Indie Flower font */
@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');

/*Roboto font */
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

/* Rubik font */
@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

:root {
  --text-color: #FFFFFF;
  --background-color: #121212;
  --green-color: #43a047;
}

html {
  color: #FFFFFF;
  font-size: 1rem;
  line-height: 1.4;
  font-family: 'Rubik',
  sans-serif;
  background-color: #121212;
}

.responsive {
  width: 100%;
  height: auto;
}

.flow-text {
  font-size: 1.2rem;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.course-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  overflow: hidden;
  height: auto;
  font-family: 'Roboto';
  font-weight: bold;
}

.card {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  transition: all .15s ease-in-out;
}

.card img {
  height: 20vh;
}

.card:hover {
  transform: scale(1.05);
  transition: all .1s ease-in-out;
}

.collapsible {
  border: #000;
}

.collapsible-header {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.collapsible-body {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.collection .collection-item {
  background-color: rgba(255, 255, 255, 0);
}

.collection a.collection-item {
  color: rgb(255, 255, 255);
}

.collection .collection-item.active {
  background-color: #43a047;
  color: #eafaf9;
}

.collection a.collection-item:not(.active):hover {
  background-color: #43a047;
}

.topnav {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: var(--background-color);
  overflow: hidden;
  z-index: 100;
  border-bottom: solid 1px #313131;
  padding: 10px;
}

#logo {
  font-family: 'Indie Flower', cursive;
  padding-left: 50px;
  padding-right: 50px;
  letter-spacing: 5px;
  font-size: 1.3rem;
}

#main {
  padding-top: 13vh;
}

#course-nav {
  position: fixed;
  width: 15%;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: flex;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.2em;
  margin: 10px;
}

.active-tab {
  border: 1px solid #43a047;
}

.topnav a:hover {
  color: #ffffff;
  font-weight: bold;
}

/* Add an active class to highlight the current page */

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

.dropdown-content li>a,
.dropdown-content li>span {
  color: #4CAF50;
}

.dropdown-content {
  background-color: #202020;
}

.dropdown-content a:hover {
  background-color: rgba(0, 0, 0, 0.700);
}

.box {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
  0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 0.2em;
  margin-top: 0.2em;
  margin-bottom: 1.2em;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  padding: 1rem;
}

.green-box {
  border: 1px solid #43a047;
  width: fit-content;
}

p {
  font-size: 1.2em;
}

table {
  width: 100%;
  table-layout: fixed;
}

table, th, td {
  font-weight: lighter;
  border: 1px solid rgba(0, 0, 0, 0.300);
  border-collapse: collapse;
  border-spacing: 0;
  overflow-x: auto;
}

#tableHeader {
  background-color: #4CAF50;
}

th {
  font-weight: bold;
  font-size: large;
}

th, td {
  text-align: left;
  padding: 10px;
}

th {
  height: 3em;
}

tr:nth-child(even) {
  background-color: rgb(54, 58, 65);
}

a {
  color: brown;
}

#slide-out {
}

#slide-out a {

}

.table-of-contents {
  position: fixed;
}

.table-of-contents a.active {
  color: #f2f2f2;
}
/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}

/* For tablet and mobile */
@media screen and (max-width: 768px) and (max-height:1024px) {
  .topnav {
    position: relative;
  }

  #main {
    padding-top: 0;
  }

  .container {
    margin-top: 0;
    width: 100%;
  }

  .topnav a:not(:first-child) {
    display: none;
  }

  .topnav a.icon {
    position: absolute;
    display: block;
    float: right;
    right: 0;
    top: 0;
    padding-top: 1.5rem;
    padding-right: 1.5rem;
  }

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  .active-tab {
    border: 0;
    border-bottom: 1px solid var(--green-color);
  }

  .topnav.responsive {
    position: relative;
    display: block;
    width: 100%;
    text-align: left;
  }

  .course-grid {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1.75rem;
  }

  .card {
    height: 100%;
    width: 75%;
  }

  .table-of-contents {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width : 320px) and (max-width : 480px) {
  /* Styles */
  .course-grid {
    grid-template-columns: auto;
  }
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
  /* Styles */
  
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
  /* Styles */
}

/* iPads (portrait) ----------- */
@media only screen and (min-width : 768px) and (max-height: 1366px) and (orientation: portrait) {
  /* Styles */
  .course-grid {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
  }

  .card img {
    height: 10vh;
  }
}

@media only screen and (min-width : 768px) and (max-height: 1366px) and (orientation: landscape) {
  /* Styles */
  .course-grid {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
  }

  .card img {
    height: 20vh;
  }
}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {
  /* Styles */
}

/* Large screens ----------- */
@media only screen and (min-width : 1824px) {
  /* Styles */
}

/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
  /* Styles */
}

